@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jf';
  src: url(../public/font/jf-openhuninn-1.1.ttf);
}

.radial-gradient {
  background: radial-gradient(
    64.25% 64.25% at 50% 50%,
    #010b63 0.03%,
    #01033d 59.94%,
    #020128 100%
  );
}

.h1 {
  -webkit-text-stroke: 1px #eefbff;
  text-shadow: 0 0 5px #eefbff, 0 0 5px #eefbff, 0 0 5px #eefbff,
    0 0 5px #eefbff;
}

.h3 {
  -webkit-text-stroke: 1px #fdffa9;
  text-shadow: 0 0 3px #fdffa9, 0 0 3px #fdffa9, 0 0 3px #fdffa9,
    0 0 3px #fdffa9;
}

.card__number {
  -webkit-text-stroke: 1px #eefbff;
}

.card__border {
  -webkit-text-stroke: 1px #fff;
}

.card__shadow {
  box-shadow: 0 0 10px #fdffa9;
}

.ball1 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ec6a6a 0%,
    rgba(236, 106, 106, 0) 100%
  );
  filter: blur(2px);
}

.ball2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ecdf6a 0%,
    rgba(236, 223, 106, 0) 100%
  );
  filter: blur(2px);
}

.ball3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ecdf6a 0%,
    rgba(236, 223, 106, 0) 100%
  );
  filter: blur(2px);
}

.ball4 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #9affff 0%,
    rgba(154, 255, 255, 0) 100%
  );
}
